<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Eventos | Springboot - Thymeleaf</title>
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>Criar um evento</h1>

<form method="POST" class="form-produto" action="/create" data-th-object="${evento}">

    <input type="hidden" id="id" name="id" data-th-value="${evento.id}">

    <input type="date" id="data" name="data" data-th-value="${evento.data}" required>

    <input type="text" id="titulo" name="titulo" data-th-value="${evento.titulo}" placeholder="Nome do evento" required>

    <input type="text" id="local" name="local" data-th-value="${evento.local}" placeholder="Local" required>

    <input type="text" id="redes_sociais" name="redes_sociais" data-th-value="${evento.redes_sociais}" placeholder="Link da rede social">

    <input type="text" id="site" name="site" data-th-value="${evento.site}" placeholder="Site" required>

    <input type="time" id="horario" name="horario" data-th-value="${evento.horario}" required>

    <button type="submit" class="btn1 btn-form" data-th-text="${evento.id == null} ? 'Adicionar evento' : 'Atualizar evento'"></button>
</form>

</body>
</html>