<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Eventos | Springboot - Thymeleaf</title>
</head>
<body>
<h1>Criar um evento</h1>

<form method="POST" action="">

    <input type="date" id="data" name="data" required>

    <input type="text" id="titulo" name="titulo" placeholder="Nome do evento" required>

    <input type="text" id="local" name="local" placeholder="Local" required>

    <input type="text" id="site" name="site" placeholder="Site">

    <input type="time" id="horario" name="horario" required>

    <button type="submit">Adicionar evento</button>
</form>

</body>
</html>