<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de eventos</title>
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body id="lista">
<h1>Lista de eventos</h1>

<p data-th-if="${eventos.isEmpty()}">Crie o primeiro evento!</p>

<table id="table" data-th-if="${not eventos.isEmpty()}">
    <thead>
        <tr>
            <th>Id</th>
            <th>Data</th>
            <th>Titulo</th>
            <th>Local</th>
            <th>Redes sociais</th>
            <th>Site</th>
            <th>Horário</th>
            <th style="text-align:center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr data-th-each="evento : ${eventos}">
            <td data-th-text="${evento.id}"></td>
            <td data-th-text="${{evento.data}}"></td>
            <td data-th-text="${evento.titulo}"></td>
            <td data-th-text="${evento.local}"></td>
            <td data-th-text="${evento.redes_sociais}"></td>
            <td data-th-text="${evento.site}"></td>
            <td data-th-text="${evento.horario}"></td>
            <td class="options"><a data-th-href="@{'/edit/'+${evento.id}}" class="btn-edit btn-option">Editar</a>
                <a data-th-href="@{'/delete/'+${evento.id}}" class="btn-delete btn-option">Excluir</a></td>
        </tr>
    </tbody>
</table>

<a href="/create" class="btn1">Criar evento</a>
</body>
</html>